body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
code,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea {
    font: 12px/1 Helvetica, Tahoma, Arial, sans-serif;
}

input,
select,
button,
textarea {
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

em,
strong {
    font-style: normal;
    font-weight: normal;
}

fieldset,
img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body,
.main {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
}

a {
    text-decoration: none;
}

.clearfix:after {
    display: block;
    clear: both;
    height: 0;
    content: '\200B';
}

.clearfix {
    *zoom: 1;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background: #5DB2FF;
    z-index: 2;
    min-width: 980px;
}

.logo_c {
    display: inline-block;
    margin: 0 15px;
}

.logo_c:hover {
    background: #57A6EF;
}

.logo {
    float: left;
    width: 140px;
    height: 40px;
    background: url(images/logo.png) 0 0 no-repeat;
    text-indent: -999999px;
}

.logo:hover {
    background-color: #4C91D2;
}

.logo_sp {
    float: left;
    margin-top: 10px;
    border-left: 1px solid rgba(255, 255, 255, .7);
    line-height: 20px;
    text-indent: -999999px;
}

.logo_o_menu {
    float: left;
    width: 24px;
    height: 40px;
    background: url(images/split.png) 0 0 no-repeat;
    text-indent: -999999px;
}

.logo_o_menu:hover {
    background-color: #4C91D2;
}

.user_c {
    position: relative;
    float: right;
}

.user_c_u {
    display: inline-block;
    position: relative;
    padding: 0 40px 0 10px;
    color: #FFF;
    font: normal 12px/40px 'Arial';
}

.user_c_u:hover {
    background-color: #4C91D2;
    text-decoration: none;
}

.user_c_u_avatar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #FFF;
}

.user_menu {
    position: absolute;
    visibility: hidden;
    right: -100%;
    opacity: 0;
}

@-webkit-keyframes user_menu_show_animate {
    0% {
        opacity: 0;
        right: -100%;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

.user_menu_show {
    visibility: visible;
    right: 0;
    opacity: 1;
    -webkit-animation: user_menu_show_animate .3s ease-in-out;
}

@-webkit-keyframes user_menu_close_animate {
    0% {
        visibility: visible;
        opacity: 1;
        right: 0;
    }

    95% {
        visibility: visible;
        opacity: 0;
        right: -100%;
    }

    100% {
        visibility: hidden;
        opacity: 0;
        right: -100%;
    }
}

.user_menu_close {
    -webkit-animation: user_menu_close_animate .3s ease-in-out;
}

.user_menu_item {
    display: block;
    padding: 0 15px;
    font: normal 12px/28px 'Arial';
    color: #fff;
    background: #5DB2FF;
    text-align: center;
}
.user_menu_item:hover {
    background: #4C91D2;
}

.menu {
    position: absolute;
    top: -200px;
    width: 100%;
    background: #1D1D1D;
    z-index: 3;
}

.menu_animate {
    -webkit-transition: top .15s ease-out;
}

.menu_show {
    top: 0;
}

.menu_inner {
    padding: 37px;
}

.menu_list li {
    display: inline-block;
}

.menu_list_btn {
    display: block;
    width: 110px;
    height: 22px;
    margin: 3px;
    padding: 98px 0 0 10px;
    background: url(images/menu.png);
    color: #FFF;
    font: normal 12px/12px 'Arial';
}

.menu_list_btn:hover {
    margin: 0;
    border: 3px solid #fff;
}

.menu_list_btn_ico1 {
    background-color: #0072C6;
    background-position: 0 0;
}

.menu_list_btn_ico2 {
    background-color: #D24726;
    background-position: -121px 0;
}

.menu_list_btn_ico3 {
    background-color: #5133AB;
    background-position: -242px 0;
}

.aside {
    position: fixed;
    left: 0;
    top: 0;
    width: 180px;
    height: 100%;
    background: #F3F3F3;
    z-index: 1;
}

.aside_inner {
    padding: 50px 0 10px;
}

.nav {
    padding: 10px 0;
    overflow: hidden;
}

.nav_h1 {
    display: block;
    padding-right: 25px;
    color: #666;
    font: normal 18px/34px 'Arial';
    text-align: right;
    -webkit-transition: all .1s ease-in-out;
}

.nav_h1:hover {
    padding-right: 30px;
    text-decoration: none;
}

.nav_subnav {
    display: none;
    margin-right: -30px;
    padding: 5px 0;
    -webkit-transition: opacity .15s ease-in-out, margin-right .15s ease-in-out;
    opacity: 0;
}

.nav_subnav_show {
    margin-right: 0;
    opacity: 1;
}

.nav_subnav_h2 {
    display: block;
    padding-right: 30px;
    color: #666;
    font: normal 12px/30px 'Arial';
    text-align: right;
    -webkit-transition: color .1s ease-in-out;
}

.nav_subnav_h2_select {
    background: #D4D4D4;
}

.nav_subnav_h2:hover {
    background: #E7E7E7;
}

.nav_subnav_h2_select,
.nav_subnav_h2:active {
    background: #D4D4D4;
}

.nav_subnav_h2_select:hover {
    background: #D4D4D4;
}

.main_inner {
    padding: 122px 20px 46px 200px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    color: #999;
    font: normal 12px/36px 'Arial';
    text-align: center;
}

.m_h1 {
    top: 40px;
    position: fixed;
    width: 100%;
    left: 0;
    padding: 10px 0 0 200px;
    color: #666;
    font: normal 36px/72px 'Arial';
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
    -webkit-box-sizing: border-box;
}

.m_label {
    display: block;
    color: #666;
    font: normal 18px/42px 'Arial';
}
.m_select_full,
.m_text_full {
    width: 100%;
    -webkit-box-sizing: border-box;
}

.m_text_large {
    width: 420px;
}

.m_text {
    display: block;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #999;
    color: #999;
    font: normal 14px/14px 'Arial';
    outline: none;
    background: #f9f9f9;
}

.m_text_error {
    border: 1px solid #f00;
}

.m_text:focus {
    border: 1px solid #333;
    background: #fff;
    color: #666;
}

.m_text_error:focus {
    border: 1px solid #f00;
}

::-webkit-input-placeholder {
    padding-top: 2px;
}

.m_code_editor {
    box-shadow: 0 0 15px #000 inset;
    background: #333;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 80%;
    line-height: 16px;
    word-spacing: .5em;
    padding: 10px 15px;
    color: #fff;
    border: 1px solid #999;
}

.m_term {
    height: 300px;
}

.m_select {
    display: block;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #999;
    color: #999;
    font: normal 14px/14px 'Arial';
    outline: none;
    background: #f9f9f9;
}

.m_select:focus {
    border: 1px solid #333;
    background: #fff;
    color: #666;
}

.m_btn {
    display: inline-block;
    margin: 10px 10px 10px 0;
    padding: 5px 15px;
    border: 1px solid #999;
    background: #EEE;
    color: #666;
    font: normal 16px/16px 'Arial';
    text-align: center;
    -webkit-transition: all .1s ease-in-out;
}

.m_btn:hover {
    border: 1px solid #333;
    background: #666;
    color: #FFF;
}

.m_btn_alarm {
    background: #f66;
    color: #fff;
    border: 1px solid #f00;
}

.m_btn_alarm:hover {
    background: red;
    border: 1px solid #f00;
}

.m_btn_disable {
    opacity: .5;
    cursor: default;
}

.m_btn_disable:hover {
    background: #EEE;
    color: #666;
    border: 1px solid #999;
}

.m_editor {
    margin-top: 5px 0 10px 0;
}

.hr_line {
    display: block;
    margin: 30px 0;
    border: none;
}

#page {
    position: relative;
}

@-webkit-keyframes page_show_animate {
    0% {
        padding-left: 30px;
        opacity: 0;
    }
    
    100% {
        padding-left: 0;
        opacity: 1;
    }
}

.page_show {
    -webkit-animation: page_show_animate .3s ease-out;
    opacity: 1;
}

.d_box {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding: 80px 0 50px 0;
    background: #F3F3F3;
    z-index: 1;
}

.d_box_max {
    right: -860px;
    width: 860px;
}

@-webkit-keyframes d_box_show {
    0% {
        right: -300px;
    }
    
    60% {
        right: 0;
    }

    100% {
        right: 0;
    }
}

@-webkit-keyframes d_box_show_max {
    0% {
        right: -860px;
    }
    
    60% {
        right: 0;
    }

    100% {
        right: 0;
    }
}

@-webkit-keyframes d_box_close {
    0% {
        right: 0;
    }
    
    100% {
        right: -300px;
    }
}

@-webkit-keyframes d_box_close_max {
    0% {
        right: 0;
    }
    
    100% {
        right: -860px;
    }
}

.d_box_show {
    right: 0;
    -webkit-animation: d_box_show 1s ease-out;
}

.d_box_max.d_box_show {
    right: 0;
    -webkit-animation: d_box_show_max 1s ease-out;
}

.d_box_close {
    right: -300px;
    -webkit-animation: d_box_close .3s ease-in-out;
}

.d_box_max.d_box_close {
    right: -860px;
    -webkit-animation: d_box_close_max .3s ease-in-out;
}

.d_box_inner {
    position: relative;
    padding: 0 20px;
    height: 100%;
    overflow-y: auto;
}

@-webkit-keyframes d_box_show_inner {
    0% {
        padding-left: 120px;
    }
    
    100% {
        padding-left: 20px;
    }
}

.d_box_show .d_box_inner {
    padding-left: 20px;
    -webkit-animation: d_box_show_inner 1s ease-out;
}

.d_box_close_btn {
    position: absolute;
    top: 50px;
    right: 15px;
    color: #999;
    font: normal 24px/24px 'Arial';
    z-index: 5;
}

.d_box_close_btn:hover {
    color: #666;
}

.d_box_bottom_panel {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    width: 100%;
    opacity: 0;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(243, 243, 243, 1) 30%);
}

.d_box_show .d_box_bottom_panel {
    opacity: 1;
    -webkit-animation: d_box_show_opacity .6s ease-out;
}

.m_btn_panel_right {
    position: fixed;
    width: 80px;
    top: 122px;
    right: 20px;
}

.m_btn_panel_right .m_btn {
    display: block;
}

.cate_list {
    color: #666;
    height: 18px;
    margin-right: 300px;
    padding-left: 20px;
    font: normal 12px/18px 'SimSun';
    -webkit-transition: all .15s ease-in-out;
    cursor: pointer;
}

.cate_list:hover {
    background: #f9f9f9;
}

.cate_list_select {
    background: #666;
    color: #fff;
}

.cate_list_select:hover {
    background: #666;
    color: #fff;
}

.cate_list_alarm {
    background: red;
    color: #fff;
}

.cate_list_alarm:hover {
    background: red;
    color: #fff;
}

@-webkit-keyframes cate_list_close_animate {
    0% {
        opacity: 1;
        margin-left: 0;
        height: 18px;
    }
    
    40% {
        opacity: 0;
        margin-left: -20px;
        height: 18px;
    }

    100% {
        opacity: 0;
        margin-left: -20px;
        height: 0;
    }
}

.cate_list_close {
    height: 0;
    margin-left: -20px;
    -webkit-animation: cate_list_close_animate .5s linear;
}

.infotable_outer {
    overflow-x: auto;
    margin-right: 150px;
    padding-bottom: 10px;
}

.infotable th,
.infotable td {
    padding: 5px;
    white-space: nowrap;
    text-align: center;
}

.infotable td a {
    color: #37A;
}

.infotable td a:hover {
    text-decoration: underline;
}

.infotable_ctrlbtn {
    padding: 0 5px;
    -webkit-transition: all .5s ease-in-out;
}

.s_deling {
    background: red;
    color: white!important;
    text-decoration: none!important;
}

.h1_edit:hover {
    cursor: pointer;
}

.h1_edit:hover:after {
    content: 'îª“';
}
.filebox {
    width: 100%;
    margin: 20px 0;
}

.filebox li {
    position: relative;
    display: inline-block;
}

.filebox_item {
    display: table-cell;
    padding: 0 20px 20px 0;
    width: 128px;
    height: 128px;
    text-align: center;
    vertical-align: middle;
}

.filebox_item img {
    max-width: 128px;
    max-height: 128px;
    transition: box-shadow .3s ease-in-out;
}

.filebox_item:hover img {
    box-shadow: 0 0 15px rgba(0, 0, 0, .9);
}

.filebox_del {
    opacity: 0;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MTNCRUIwNTdERjA3MTFFMkI1M0FDNDU1NERBMERGMkUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MTNCRUIwNThERjA3MTFFMkI1M0FDNDU1NERBMERGMkUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxM0JFQjA1NURGMDcxMUUyQjUzQUM0NTU0REEwREYyRSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxM0JFQjA1NkRGMDcxMUUyQjUzQUM0NTU0REEwREYyRSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqzDtB8AAAB1SURBVHja7FNbCsAwCKvFe2tP7siYIKtlK+5z+Sj2kRjFkpm1CtgDIpouVdVCPD04k2PJXERytncBcjIcZI9WgCNwOWYQkZ3ykYw4nowx9rsYewAXb+Clgtcz0ehkFTt6K+IX+ECgPAd8n+9rRB//gceHAAMACm2Uu9f2HhkAAAAASUVORK5CYII=);
    bottom: 20px;
    right: 20px;
    transition: opacity .3s ease-in-out;
}

.filebox_deling {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MUIxRDkwNzVERjA3MTFFMkJGQ0ZFOEY5OEEwMzAyQjAiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MUIxRDkwNzZERjA3MTFFMkJGQ0ZFOEY5OEEwMzAyQjAiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxQjFEOTA3M0RGMDcxMUUyQkZDRkU4Rjk4QTAzMDJCMCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxQjFEOTA3NERGMDcxMUUyQkZDRkU4Rjk4QTAzMDJCMCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PoafIrEAAAFmSURBVHjaYvz//z9DY2MjAw4gDcQCQHwVXaK+vh5MM+HQaAzE74D4PhDbAHE1SBBomeSPHz98QZbCAC4DuoBYH4jZf/36Jfr58+fGr1+/3uTi4npmaWm5iZ2dfS5MIQu6zj9//oQAbXEC2rKIn5/fQVtbm0FHR4dBWVlZDWgAw6tXrxguX76cBFSaDDeAkZGR4fv37/3MzMyp8vLy3CBN6urqDsLCwgyfPn1iuHXrFsOaNWsY7t+//xfomsO8vLxbUVwAdKaZra1tnoeHB9Pv379BChkOHDgA1vjhwwcGoMEMbGxsIIuY+fj4HIBaQLgHbgDQ2U4vX75kmjRpEsO3b98YlJSUwM728vJi4OTkxAgg5FgDByLQb0vu3r2b9fHjR4aqqiqGmzdvgg0AaUZWjC26wQbU1dU9aWlpmc5ABmBioBCMGgDJIHDc0NDwnxgAVQfWw4ics0BJGiRJyFKgGrg+gAADAJcpvn8tzR2RAAAAAElFTkSuQmCC);
}

.filebox_item:hover .filebox_del {
    opacity: 1;
}

.attachmentbox {
    position: fixed;
    width: 100%;
    height: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    left: 0;
    bottom: -100px;
    background: rgba(100, 100, 100, .9);
    z-index: 10;
    transition: bottom .5s ease-in-out;
}

.attachmentbox_open {
    bottom: 0;
}

.attachmentlist {
    width: 100%;
}
.attachmentlist li {
    display: inline-block;
}

.attachmentlist_item {
    display: table-cell;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}
.attachmentlist_item img {
    max-width: 80px;
    max-height: 80px;
}
.attachmentlist_item img:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, .9);
}