body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
code,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea {
    font: 12px/1 Helvetica, Tahoma, Arial, 'SimSun', sans-serif;
}

input,
select,
button,
textarea {
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

em,
strong {
    font-style: normal;
    font-weight: normal;
}

fieldset,
img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body,
.main {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.clearfix:after {
    display: block;
    clear: both;
    height: 0;
    content: '\200B';
}

.clearfix {
    *zoom: 1;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background: #5DB2FF;
    z-index: 2;
    min-width: 980px;
}

.logo_c {
    display: inline-block;
    margin: 0 15px;
}

.logo_c:hover {
    background: #57A6EF;
}

.logo {
    float: left;
    width: 140px;
    height: 40px;
    background: url(images/logo.png) 0 0 no-repeat;
    text-indent: -999999px;
}

.logo:hover {
    background-color: #4C91D2;
}

.logo_sp {
    float: left;
    margin-top: 10px;
    border-left: 1px solid rgba(255, 255, 255, .7);
    line-height: 20px;
    text-indent: -999999px;
}

.logo_o_menu {
    float: left;
    width: 24px;
    height: 40px;
    background: url(images/split.png) 0 0 no-repeat;
    text-indent: -999999px;
}

.logo_o_menu:hover {
    background-color: #4C91D2;
}

.user_c {
    float: right;
    margin: 0 15px;
}

.user_c_u {
    display: inline-block;
    position: relative;
    padding: 0 40px 0 10px;
    color: #FFF;
    font: normal 12px/40px 'Microsoft YaHei';
}

.user_c_u:hover {
    background-color: #4C91D2;
    text-decoration: none;
}

.user_c_u_avatar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #FFF;
}

.menu {
    position: absolute;
    top: -190px;
    width: 100%;
    background: #1D1D1D;
    z-index: 3;
}

.menu_animate {
    -webkit-transition: top .15s ease-out;
}

.menu_show {
    top: 0;
}

.menu_inner {
    padding: 37px;
}

.menu_list li {
    display: inline-block;
}

.menu_list_btn {
    display: block;
    width: 110px;
    height: 22px;
    margin: 3px;
    padding: 88px 0 0 10px;
    background: url(images/menu.png);
    color: #FFF;
    font: normal 12px/12px 'Microsoft YaHei';
}

.menu_list_btn:hover {
    margin: 0;
    border: 3px solid #4A4A4A;
}

.menu_list_btn:active {
    margin: 0;
    border: 3px solid #FFF;
}

.menu_list_btn_ico1 {
    background-color: #5DB2FF;
    background-position: 0 0;
}

.menu_list_btn_ico2 {
    background-color: #5133AB;
    background-position: -122px 0;
}

.aside {
    position: fixed;
    left: 0;
    top: 0;
    width: 180px;
    height: 100%;
    background: #F3F3F3;
    z-index: 1;
}

.aside_inner {
    padding: 50px 0 10px;
}

.nav {
    padding: 10px 0;
    overflow: hidden;
}

.nav_h1 {
    display: block;
    padding-right: 25px;
    color: #666;
    font: normal 18px/34px 'Microsoft YaHei';
    text-align: right;
    -webkit-transition: all .1s ease-in-out;
}

.nav_h1:hover {
    padding-right: 30px;
    text-decoration: none;
}

.nav_subnav {
    display: none;
    margin-right: -30px;
    padding: 5px 0;
    -webkit-transition: opacity .15s ease-in-out, margin-right .15s ease-in-out;
    opacity: 0;
}

.nav_subnav_show {
    margin-right: 0;
    opacity: 1;
}

.nav_subnav_h2 {
    display: block;
    padding-right: 30px;
    color: #666;
    font: normal 12px/30px 'Microsoft YaHei';
    text-align: right;
    -webkit-transition: color .1s ease-in-out;
}

.nav_subnav_h2_select {
    background: #D4D4D4;
}

.nav_subnav_h2:hover {
    background: #E7E7E7;
}

.nav_subnav_h2_select,
.nav_subnav_h2:active {
    background: #D4D4D4;
}

.nav_subnav_h2_select:hover {
    background: #D4D4D4;
}

.main_inner {
    padding: 122px 20px 46px 200px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    color: #999;
    font: normal 12px/36px 'Arial';
    text-align: center;
}

.m_h1 {
    top: 40px;
    position: fixed;
    width: 100%;
    left: 0;
    padding: 10px 0 0 200px;
    color: #666;
    font: normal 36px/72px 'Microsoft YaHei';
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
    -webkit-box-sizing: border-box;
}

.m_label {
    display: block;
    color: #666;
    font: normal 18px/42px 'Microsoft YaHei';
}
.m_select_full,
.m_text_full {
    width: 100%;
    -webkit-box-sizing: border-box;
}

.m_text_large {
    width: 420px;
}

.m_text {
    display: block;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #999;
    color: #999;
    font: normal 14px/14px 'Microsoft YaHei';
    outline: none;
    background: #f9f9f9;
}

.m_text_error {
    border: 1px solid #f00;
}

.m_text:focus {
    border: 1px solid #333;
    background: #fff;
    color: #666;
}

.m_text_error:focus {
    border: 1px solid #f00;
}

::-webkit-input-placeholder {
    padding-top: 2px;
}

.m_select {
    display: block;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #999;
    color: #999;
    font: normal 14px/14px 'Microsoft YaHei';
    outline: none;
    background: #f9f9f9;
}

.m_select:focus {
    border: 1px solid #333;
    background: #fff;
    color: #666;
}

.m_btn {
    display: inline-block;
    margin: 10px 10px 10px 0;
    padding: 5px 15px;
    border: 1px solid #999;
    background: #EEE;
    color: #666;
    font: normal 16px/16px 'Microsoft YaHei';
    text-align: center;
    -webkit-transition: all .1s ease-in-out;
}

.m_btn:hover {
    border: 1px solid #333;
    background: #666;
    color: #FFF;
}

.m_btn_alarm {
    background: #f66;
    color: #fff;
    border: 1px solid #f00;
}

.m_btn_alarm:hover {
    background: red;
    border: 1px solid #f00;
}

.m_btn_disable {
    opacity: .5;
    cursor: default;
}

.m_btn_disable:hover {
    background: #EEE;
    color: #666;
    border: 1px solid #999;
}

.hr_line {
    display: block;
    margin: 30px 0;
    border: none;
}

#page {
    position: relative;
}

@-webkit-keyframes page_show_animate {
    0% {
        padding-left: 30px;
        opacity: 0;
    }
    
    100% {
        padding-left: 0;
        opacity: 1;
    }
}

.page_show {
    -webkit-animation: page_show_animate .3s ease-out;
    opacity: 1;
}

.d_box {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: #F3F3F3;
    z-index: 1;
}

@-webkit-keyframes d_box_show {
    0% {
        right: -300px;
    }
    
    60% {
        right: 0;
    }

    100% {
        right: 0;
    }
}

@-webkit-keyframes d_box_close {
    0% {
        right: 0;
    }
    
    100% {
        right: -300px;
    }
}

.d_box_show {
    right: 0;
    -webkit-animation: d_box_show .6s ease-out;
}

.d_box_close {
    right: -300px;
    -webkit-animation: d_box_close .1s ease-out;
}

.d_box_inner {
    position: relative;
    margin: 60px 20px;
    opacity: 0;
}

@-webkit-keyframes d_box_show_opacity {
    0% {
        opacity: 0;
    }
    
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.d_box_show .d_box_inner {
    opacity: 1;
    -webkit-animation: d_box_show_opacity .6s ease-out;
}

.d_box_close_btn {
    position: absolute;
    top: 0;
    right: -5px;
    color: #999;
    font: normal 24px/24px 'Arial';
}

.d_box_close_btn:hover {
    color: #666;
}

.d_box_bottom_panel {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 100%;
    opacity: 0;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(243, 243, 243, 1) 30%);
}

.d_box_show .d_box_bottom_panel {
    opacity: 1;
    -webkit-animation: d_box_show_opacity .6s ease-out;
}

.m_btn_panel_right {
    position: fixed;
    width: 80px;
    top: 122px;
    right: 20px;
}

.m_btn_panel_right .m_btn {
    display: block;
}

.cate_list {
    color: #666;
    height: 18px;
    margin-right: 300px;
    padding-left: 20px;
    font: normal 12px/18px 'SimSun';
    -webkit-transition: all .15s ease-in-out;
    cursor: pointer;
}

.cate_list:hover {
    background: #f9f9f9;
}

.cate_list_select {
    background: #666;
    color: #fff;
}

.cate_list_select:hover {
    background: #666;
    color: #fff;
}

.cate_list_alarm {
    background: red;
    color: #fff;
}

.cate_list_alarm:hover {
    background: red;
    color: #fff;
}

@-webkit-keyframes cate_list_close_animate {
    0% {
        opacity: 1;
        margin-left: 0;
        height: 18px;
    }
    
    40% {
        opacity: 0;
        margin-left: -20px;
        height: 18px;
    }

    100% {
        opacity: 0;
        margin-left: -20px;
        height: 0;
    }
}

.cate_list_close {
    height: 0;
    margin-left: -20px;
    -webkit-animation: cate_list_close_animate .5s linear;
}